body {
    font-family: Helvetica;
}

h1 {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
}

p {
    text-align: center;
}

#display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers {
    background-color: rgb(224, 224, 224);
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 20px;
}

hr {
    border-color: rgb(0, 0, 0);
}